# AT&T Credentials
# Add your AT&T login credentials here and rename to .env
ATT_USERNAME=MEMPHIS465@ATT.NET
ATT_PASSWORD=

# API Security
GODMAN_API_KEY=op://Developer Secrets/GODMAN_API_KEY/password

